@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.post-container {
  font-family: inherit;
  border-radius: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid lightgray;
}

.upvote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
}

.upvote-button, .upvote-count {
  margin: 5px 0;
}

.post-content {
  flex: 1;
}

.post-content>* {
  margin: 10px 0;
}

.subject {
  font-size: 24px;
  font-weight: 700;
}

.body {
  font-weight: 400;
  font-size: 16px;
}

button {
  background-color: white;
  border: none;
  padding: 0;
  height: 24px;

  cursor: pointer;
}